<div class="jumbotron text-center">
  <h1> MEAN Stack Authentication App</h1>
  <p class="lead">
    Welcome to my first MEAN Stack Application. This does some authentication with access restriction on few routes with a backend application written in Express and NodeJS.
  </p>

  <div >
    <a class="btn btn-primary" [routerLink]="['/register']">REGISTER</a>  <a class="btn btn-success" [routerLink]="['/login']">LOGIN</a>
  </div>
</div>


<div class="row">

  <div class="col-md-4">
    <h3>Backend</h3>
    <p>
      A solid backend provided with an Express Application running with Nodejs. Extremely light-weight, single threaded, asynchronous app.
    </p>
  </div>

  <div class="col-md-4">
    <h3>Angular CLI</h3>
    <p> An excellent utility to quickly generate scalable, beautiful looking Angular Front End Application</p>
  </div>

  <div class="col-md-4">
    <h3>JWT Authetication tokens</h3>
    <p>
      Built with <strong>passport.js</strong> the module takes care of all authentication deserialization of tokens and matching it with the user
    </p>
  </div>


</div>